.wd-exp-left-offset{
    margin-left: 16px;
}

.wd-exp-top-offset{
    margin-top: 15px;
}

.wd-exp-right-offset{
    margin-right: 16px;
}

.wd-exp-search{
    border-radius: 100px;
    border-style: solid;
    border-color: rgb(47, 51, 54);
    border-width: 1px;
    height: 35px;
    width: 88%;
    background-color: rgb(33, 37, 38);
    padding-left: 45px;
    background-image: url("images/magnify-glass.png");
    background-repeat: no-repeat;
    display: inline-block;
    overflow: hidden;
    background-position-x: 15px;
    background-position-y: 8px;
    float: left;

}

.wd-exp-search:focus {
    outline: none !important;
    border:1px solid rgb(29,161,242);
    box-shadow: 0 0 10px #719ECE;
}

.wd-gear-position{
    float: right;
    padding-right: 12px;
    padding-top: 22px;
}

.wd-links{
    color: rgb(110, 118, 125);
    font-size: 15px;
    padding: 16px;
    font-family: "Microsoft Sans Serif";

}

.wd-link-container{
    display: flex;
    justify-content: space-between;
}


