/*p{
    background-color: blue;
    color: white;
}*/

p#id-selector-1{
    background-color: red;
    color: white;
}

p#id-selector-2{
    background-color: yellow;
    color: black;
}

.class-selector {
    background-color: yellow;
    color: blue;
}