/*p{
    background-color: blue;
    color: white;
}*/

p#id-selector-1{
    background-color: red;
    color: white;
}

p#id-selector-2{
    background-color: yellow;
    color: black;
}

.class-selector {
    background-color: yellow;
    color: blue;
}

.selector-1 .selector-3 {
    background-color: red;
    color: white;
}
.selector-2 > .selector-3 > .selector-4 {
    background-color: yellow;
    color: blue;
}

.fg-color-black { color: black; }
.fg-color-white { color: white; }
.fg-color-blue { color: #7070ff; }
.fg-color-red { color: #ff7070; }
.fg-color-green { color: green; }